@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


:root {
    --background: linear-gradient(to right, #9ed6fc, #cadce9);
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    color: #4bd6e0;
    font-size: 1.5rem;
}

section {
    text-align: left;
}


.gradient-background {
    background: linear-gradient(to right, #9ed6fc, #cadce9); 
    color: #050129; 
    padding: 50px 0; 
    
}

#sobre-danca h2 {
    text-shadow: 6px 6px 12px rgba(26, 74, 232, 0.7); 
    font-size: 3rem;
}

#sobre-danca p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
    line-height: 1.6;
    text-align: center; 
  
}

.container-decorada {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decoracao-esquerda,
.decoracao-direita {
    width: 150px; 
    height: auto; 
}

.conteudo-central {
    text-align: center;
    max-width: 600px; 
}

#galeria {
    background: #cadce9; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#galeria h2 {
    color: #050505;
    text-shadow: 6px 6px 12px rgba(26, 74, 232, 0.7);
}

#galeria img {
    max-height: 250px; 
    object-fit: cover; 
}

#galeria p {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}
#galeria {
    margin-top: 50px; 
    
}

.formulario-decorado {
    background: linear-gradient(to right, #9ed6fc, #cadce9); 
    padding: 50px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 50px; 
}

.formulario-decorado h2 {
    color: #050129;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5); 
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 10px;
    font-size: 1rem;
}
.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}
.btn-primary:hover {
    background-color: #45A049; 
}

p {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-style: italic;
}

.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

/* Alto contraste*/

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.modo-contraste {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

.modo-contraste a {
    color: #FFD700; /* Links com uma cor contrastante (dourado) */
}

.modo-contraste button {
    background-color: #333; /* Botões com fundo escuro */
    color: #fff; /* Texto do botão branco */
    border: 1px solid #FFD700; /* Bordas contrastantes */
}

.modo-contraste nav {
    background-color: #222;
    color: #fff;
}

.modo-contraste table {
    background-color: #333;
    color: #fff;
}

.modo-contraste th, .modo-contraste td {
    border: 1px solid #555;
}