body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    color: #4bd6e0;
    font-size: 1.5rem;
}

section {
    text-align: left;
}


.gradient-background {
    background: linear-gradient(to right, #9ed6fc, #cadce9); 
    color: #050129; 
    padding: 50px 0; 
    
}

#sobre-danca h2 {
    text-shadow: 6px 6px 12px rgba(26, 74, 232, 0.7); 
    font-size: 3rem;
}

#sobre-danca p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
    line-height: 1.6;
    text-align: center; 
  
}

.container-decorada {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decoracao-esquerda,
.decoracao-direita {
    width: 150px; /* Ajusta o tamanho das imagens */
    height: auto; /* Mantém a proporção */
}

.conteudo-central {
    text-align: center;
    max-width: 600px; /* Define um limite para o conteúdo */
}

#galeria {
    background: #cadce9; /* Cor de fundo leve */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#galeria h2 {
    color: #050505;
    text-shadow: 6px 6px 12px rgba(26, 74, 232, 0.7);
}

#galeria img {
    max-height: 250px; /* Limita a altura das imagens */
    object-fit: cover; /* Ajusta o enquadramento das imagens */
}

#galeria p {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}
#galeria {
    margin-top: 50px; 
    
}

.formulario-decorado {
    background: linear-gradient(to right, #9ed6fc, #cadce9); /* Gradiente suave */
    padding: 50px;
    border-radius: 15px; /* Arredonda as bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-top: 50px; /* Dá espaço entre o topo e a seção anterior */
}

.formulario-decorado h2 {
    color: #050129;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5); /* Sombra para destacar o texto */
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 8px; /* Bordas arredondadas nos campos */
    padding: 10px;
    font-size: 1rem;
}
.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}
.btn-primary:hover {
    background-color: #45A049; /* Altera a cor no hover */
}

p {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-style: italic;
}
